.pagination-container {
  display: flex;
  padding: 0;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: 50px 4px;
    color: white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    background-color: rgba(0, 188, 213, .1);

    &.dots {
      background-color: transparent;
      cursor: default;
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
    }
    &:hover {
      background-color: #00BCD5;
      cursor: pointer;
    }
    &.selected {
      background-color: #00BCD5;
    }    
  }
}
