.gallery {
    position:fixed;
    width: 100%;
    height: 100%;
    
}

.thumbLayer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.thumbLayer img {
    animation-fill-mode: forwards;
    animation: imgFadeIn 0.5s;

    margin: 10px;
    filter: saturate(0) drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.7));
    border-radius: 10px;
    cursor: pointer;
}

.thumbLayer .active img {
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.7));
    border: #ffff00 solid 2px;
}

.thumbLayer .thumb:hover img {
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.7));
}

.imageLayer {
    display: flex;
    top: 10%;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
    // position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 3;
    
}

.imageLayer img {
    position:fixed;
    // flex-shrink: 1;
    // top: 50%;
    // transform: translateY(-50%);
    aspect-ratio: 16 / 9;
    max-width:70%;
    border-radius: 20px;
    //width: 1280px;
    //height: 720px;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.7));
    border: #000 solid 2px;
}

.imageLayer.imgFadeIn img {
    animation-fill-mode: forwards;
    animation: imgFadeIn 0.5s;
    opacity: 1;
    transform: scale(1);
}

.imageLayer.imgFadeOut img {
    animation-fill-mode: forwards;
    animation: imgFadeOut 0.3s;
    opacity: 0;
    transform: scale(0.8);
}

@keyframes imgFadeIn {
    0% { opacity: 0; transform: scale(0.8)
    }
    60% {
        opacity: 1; transform: scale(1.05)
    }
    100% { opacity: 1; transform: scale(1)
    }
}

@keyframes imgFadeOut {
    0% { opacity: 1; transform: scale(1)
    }
    100% { opacity: 0; transform: scale(0.8)
    }
}


.arrows {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content:space-between;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.arrows .false {
    opacity: 0.5;
}

.preloader {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloaderCss {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.7));
  }

  .preloaderCss div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #ffff00;
    animation: preloaderAnim 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    
  }
  .preloaderCss div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
    border-radius: 5px;
  }
  .preloaderCss div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
    border-radius: 5px;
  }
  .preloaderCss div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
    border-radius: 5px;
  }
  @keyframes preloaderAnim {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }