$scale-norm: 1;
$scale-shrink: 0.7;
$scale-grow: 1.2;
$shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
$center: -50%, -50%;

.gallery {
    position:fixed;
    width: 100%;
    height: 100%;

    &.night {
        .thumbLayer .active img{
            border: #00b7ff solid 2px;
        }
        .arrows svg {
            color: #00b7ff
        }
    }
}

.thumbLayer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 50%;
    transform: translate($center);
    z-index: 2;

    // .thumb {
    //     animation-fill-mode: forwards;
    //     animation: imgFadeIn 0.5s;
    // }
}

.thumbLayer img {
    //animation-fill-mode: forwards;
    //animation: imgFadeIn 0.5s;

    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.thumbLayer .active img {
    filter: drop-shadow($shadow);
    border: #ffff00 solid 2px;
}

.thumbLayer .thumb:hover img {
    filter: drop-shadow($shadow);
}

.imageLayer {
    top: 46%;
    left: 50%;
    position: fixed;
    transform: translate($center);
}

.imageLayer img {
    // aspect-ratio: 16/9;
    border-radius: 20px;
    filter: drop-shadow($shadow);
    border: #000 solid 2px;
}

.imageLayer.imgFadeIn  {
    animation-fill-mode: forwards;
    animation: imgFadeIn 0.5s;
    opacity: 1;
    transform: translate($center) scale($scale-norm);
}
.imageLayer.imgFadeOut  {
    animation-fill-mode: forwards;
    animation: imgFadeOut 0.3s;
    opacity: 0;
    transform: translate($center) scale($scale-shrink);
}

@keyframes imgFadeIn {
    0% { opacity: 0; transform: translate($center) scale($scale-shrink)
    }
    100% { opacity: 1; transform: translate($center) scale($scale-norm)
    }
}

@keyframes imgFadeOut {
    0% { opacity: 1; transform: translate($center) scale($scale-norm)
    }
    100% { opacity: 0; transform: translate($center) scale($scale-grow)
    }
}

.imageLayer .description {
    display: flex;
    justify-content: space-between;
    position: relative;
    // top: 5px;
    border-radius: 20px;
    filter: drop-shadow($shadow);
    border: #000 solid 2px;

    left: 50%;
    transform: translate(-50%);
    text-align: left;
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);

    font-family: 'Joy Multiplication', sans-serif;
    font-size: small;
    letter-spacing: 1.5px;
    line-height: 15px;
    color:#ffff00;
    filter: drop-shadow($shadow);
    z-index: 1;
}

.txtCont2 {
    text-align: right;
}

.description .desc {
    color: #00b7ff;
}

.description .txtCont .title {
    display: inline-block;
}

.description .txtCont .desc {
    display: inline-block;
    margin-left: 10px;
}


.arrows {
    position: fixed;
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content:space-between;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.arrows .false {
    opacity: 0.5;
}

.preloader {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate($center);
}

.preloaderCss {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    filter: drop-shadow($shadow);

    &.night div {
        background: #00bfff;
    }
}

.preloaderCss div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #ffff00;
    animation: preloaderAnim 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.preloaderCss div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
    border-radius: 5px;
}
.preloaderCss div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
    border-radius: 5px;
}
.preloaderCss div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
    border-radius: 5px;
}
@keyframes preloaderAnim {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}


@media (max-width: 768px) {
    .thumbLayer {
        display: none;
    }
    .arrows {
        top: 83%;
    }
}