.map-container {
    position:fixed ;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.leaflet-container {
    border: #000 solid 2px;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100%;
  }

.info-map {
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    border-radius: 10px;
    z-index: 1000;
    width: auto;
    padding: 10px;
    margin: 20px;
    color: #ffff00;
    font-family: 'Joy Multiplication', sans-serif;
    font-size: 17px;
    line-height: 2em;
    opacity: 0.8;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));

    a, a:link, a:visited {
        color: #00b7ff;
        text-decoration: none;
    }

    &.night {
        a, a:link, a:visited {
            color: #ffff00;
        }
        color: #00b7ff;
    }
}

@media (max-width: 768px) {
    .map-container {
        width: 100%;
        height: calc(100% - 100px);

        .leaflet-container {
            // top: 60px;
            border: none;
            border-radius: 0;
            filter: none;
            width: 100%;
            height: calc(100% - 124px);
          }

        .info-map {
            position: relative;
            margin: 0;
            width: 100%;
            margin-top: 10px;
            font-size: 12px;
            border-radius: 0;
            line-height: 1.5em;
            letter-spacing: 3px;
            text-align: left;
        }
    }
}