.footer {
    position:absolute;
    bottom:0;
    width: 100%;
    padding-top: 10px;
    height: 40px;
    background-color: rgb(5, 5, 5);
    color: #ffff00;
    z-index: 100;
    &.night {
        color: #00fbff;
        background-color: rgb(7, 7, 7);
    }
}



